<h1>About this page</h1>
<p class="About">This page contains the interesting facts about cats. To make
  this page, I have called a
  <a href="https://catfact.ninja/fact">CAT API</a>
  and then storing in the SQL database. Everytime we refresh the page new fact
  will get save in the database and will be displayed here.</p>
<hr />
<h1>Intern Project</h1>
<hr />
<h1>Interesting Facts about cats</h1>
<hr />
<div class="big">
</div>